{% load static %}
<header>
  <div class="container">
    <nav class="nav">
      <a href="{% url 'inicio' %}">Inicio</a>
      {% comment %} <a href="{% url 'profesores' %}">Profesores</a>
      <a href="{% url 'cursos' %}">Cursos</a>
      <a href="{% url 'estudiantes' %}">Estudiantes</a>
      <a href="{% url 'entregables' %}">Entregables</a> {% endcomment %}

      <a href="#">Profesores</a>
      <a class="btn" href="{% url 'cursos' %}">Cursos</a>
      <a href="#">Estudiantes</a>
      <a href="#">Entregables</a>

      {% if user.is_authenticated %}
      <span>{{ user.username }}</span>
      <a class="btn" href="{% url 'editar_perfil' %}">Perfil</a>
      <a class="btn" href="{% url 'logout' %}">Logout</a>
      {% else %}
      {% comment %} <a class="btn" href="{% url 'login' %}">Login</a> {% endcomment %}
      <a class="btn" href="#">Login</a>
      {% comment %} <a class="btn btn-outline" href="{% url 'register' %}">Registro</a> {% endcomment %}
      <a class="btn btn-outline" href="#">Registro</a>
      {% endif %}
    </nav>
  </div>
</header>