<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}AppCoder{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'user/css/components.css' %}" />
    <link rel="stylesheet" href="{% static 'user/css/pages.css' %}" />
  </head>
  <body>
     {% block navbar %}{% include "user/partials/_navbar.html" %}{% endblock %}
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>